body {
  background-color: black;
}
.carousel-control-prev {
  width: 6vh;
  height: 6vh;
  top: 50%;
  border-radius: 50%;
}
.carousel-control-next {
  width: 6vh;
  height: 6vh;
  top: 50%;
  border-radius: 50%;
}

.cards-wrapper {
  justify-content: center;
  display: flex;
}
.card {
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  background-color: black;
  width: 12%;
  margin: 1rem;
}

.card-body {
  text-align: justify;
  margin: 0.5;
}
.carousel-item {
  text-align: center;
}

.carousel-indicators {
  margin-bottom: -10px;
  margin-top: 10%;
}
.card-img-top:hover {
  opacity: 0.4;
  cursor: pointer;
}
.card-text:hover {
  font-weight: 700;
  cursor: pointer;
}
